/* 首页index css代码 */
/* 版心 */
.w {
    margin: 0 auto;
    width: 1200px;
}

.shortcut {
    height: 40px;
    background-color: #32373e;
}
.shortcut-l {
    float: left;
}
.shortcut-l .logo {
    float: left;
    width: 43px;
    height: 40px;
    background-image: url(../images/sprite_361857f.png);
    background-repeat: no-repeat;
    background-position: -10px -1px;
    background-size: 64px 128px;
}
.shortcut-l .nav {
    float: left;
    height: 40px;
}
.shortcut-l .nav .quanguo {
    margin: 0 30px;
    line-height: 40px;
}
.shortcut-l .nav .quanguo span {
    color: #0dca9f;
}
.shortcut-l .nav .quanguo em {
    color: #AFB5C0;
    font-size: 12px;
}
.shortcut-l .nav ul li{
    float: left;
}
.shortcut-l .nav ul li a {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    color: #AFB5C0;
    line-height: 40px;

}
.shortcut-l .nav ul li a:hover {
    /* height: 40px; */
    color: #fff;
    background-color: #24282c;
}
.shortcut-r {
    float: right;
}
.shortcut-r ul li{
    float: left;
    position: relative;
    line-height: 40px;
    /* color: #AFB5C0; */
}
.shortcut-r ul li a {
    color: #AFB5C0;
}
.shortcut-r ul li a:hover {
    color: #fff;
}
.shortcut-r .enter:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -28px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite_361857f.png);
    background-repeat: no-repeat;
    background-position: -10px -41px;
    background-size: 64px 128px;

}
.shortcut-r .login {
    padding-right: 50px;
}
.shortcut-r>ul>li>span {
    padding: 0 7px;
    color: #5e6166;
}
.shortcut-r .phone a{
    margin-right: 20px;
    color: #00C295;
}
.shortcut-r .phone a:hover {
    color: #12ddae;
}
.shortcut-r .phone:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -28px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite_361857f.png);
    background-repeat: no-repeat;
    background-position: -35px -40px;
    background-size: 64px 128px;
}

/* top banner  */
.top-banner {
    /* position: relative; */
    height: 120px;
    background-color: #00b38a;
}
.top-banner .tl img {
    float: left;
    width: 228px;
    height: 120px;
}
.top-banner .tl .text-tl {
    float: left;
}
.top-banner .tl .text-tl img {
    margin: 36px 0 4px;
    width: 330px;
    height: 30px;
}
.top-banner .tl .text-tl p {
    color: #fff;
}
/*  tr */
.tr {
    float: right;
    margin-top: 42px;
}
.tr .tr-login {
    /* width: 212px; */
    height: 35px;
    line-height: 35px;
    /* background-color: #fff; */
}
.tr .tr-login .tel {
    float: left;
    position: relative;
    background-color: #fff;
    /* box-sizing: border-box; */
}
.tr .tr-login .tel span {
    margin: 0 10px;
    /* box-sizing: border-box; */

}
.tr .tr-login .tel span:after {
    content: '';
    position: absolute;
    left: 50px;
    top: 50%;
    width: 9px;
    height: 5px;
    margin-top: -2.5px;
    background-image: url(../images/trangle_1091ce9.png);
}
.tr .tr-login .tel input {
    padding-left: 10px;
    width: 150px;
    color: #333;
    /* box-sizing: border-box; */

}
.tr .tr-login .code {
    float: left;
    margin: 0 8px;
    background-color: #fff;
}
.tr .tr-login .code input {
    float: left;
    height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 0;
    line-height: 35px;
    width: 95px;
}
.tr .tr-login .code .huoqv {
    position: relative;
    float: left;
    width: 52px;
    text-align: center;
    color: #00b38a;
    cursor: pointer;
}
.tr .tr-login .code .huoqv:before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 12px;
    background-color: #ccc;
    overflow: hidden;
}
/* 登录按钮 */
.bt-login {
    float: left;
    border: 1px solid #ccf0e8;
}
.bt-login button {
    width: 105px;
    height: 33px;
    color: #ccf0e8;
    font-weight: 700;
    font-size: 14px;
    background-color: #00b38a;
}
.bt-login button:hover {
    background-color: #33c2a4;
}

/* search 搜索框 */
.search {
    height: 132px;
    padding: 30px 0 28px;
    background-color: #f2f5f4;
}
.search .search-box {
    position: relative;
    margin: 0 auto;
    /* margin-top: 30px; */
    width: 940px;
    height: 46px;
    
}
/* .search-form {
     position: static;
    top: 10px; 
} */
.search-form input {
    float: left;
    border: 1px solid #e8e8e8;
    border-right: 0;
    width: 780px;
    height: 45px;
    font-size: 16px;
    padding: 15px 16px 14px;
}
.search-form button {
    width: 142px;
    height: 46px;
    font-size: 16px;
    color: #fff;
    background-color: #00b38a;   
}
.search-form button:hover {
    background-color: #00a57f;
}
.hotSearch {
    margin-top: 5px;
}
.hotSearch dt,dd{
    float: left;
    margin-right: 20px;
}
.hotSearch dd a {
    color: #00C295;
}
.hotSearch dd a:hover {
    text-decoration: underline;
}
/* 主体部分 */
.clearfix {
    margin-top: 30px;
    height: 380px;
    /* background-color: pink; */
}
.clearfix .posts {
    float: left;
    color: #333;
    width: 320px;
}
.clearfix .posts ul li {
    position: relative;
    float: left;
    width: 321px;
    height: 47px;
}
.clearfix .posts ul li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 6px;
    height: 11px;
    margin-top: -2.5px;
    background-image: url(../images/arrow_92b8589.png);
}
.clearfix .posts ul li dt {
    float: left;
    font-size: 18px;
    line-height: 47px;
    margin: 0 15px;
}
.clearfix .posts ul li dd {
    line-height: 50px;
}
.clearfix .posts ul li dd a {
 color: #555;
}
.clearfix .posts ul li dd a:hover {
    text-decoration: underline;
    color: #00b38a;
}
.banner {
    float: right;
    margin-top: 14px;
}
/* 24小时热门 */
.hourHot {
    margin-top: 42px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    height: 52px;

}
.hourHot ul {
    height: 52px;
    line-height: 52px;
}
.hourHot ul li{
    float: left;
    margin-right: 60px;
    cursor: pointer;
}
.hourHot .checked {
    height: 52px;
    color: #333;
    border-bottom: 2px solid #333;
}
/* 提示 hint */
.hint {
    margin-top: 28px;
}
.hint button {
    margin-left: 28px;
    color: #00C295;
    background-color: #fff;
}